@import "./lib/lib";
@import "./general/variables";
@import "./general/general";
@import "./layout/layout";

* {
  transition: $transicion600ms;
}

.container-all-card {
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.master {
  position: relative;
  overflow: hidden;
  width: 336px;
  max-width: 336px;
  height: 436px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .cardContainer {
    width: 330px;
  }
  .card-back {
    animation: spin 2s linear infinite;
    top: -93px;
    top: 109px;
    left: -130px;
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -11;
    border-radius: 50%;

    background: linear-gradient(to bottom, #5ddcff, #3c67e3 43%, #4e00c2);
    background: linear-gradient(to bottom, #2edc17, #0044ff 43%, #ff0000);
  }

  .bgCard {
    height: 430px;
    z-index: -1 !important;
    background-repeat: no-repeat;
    position: initial !important;
    width: 336px;
    max-width: 336px;

    width: 330px;
    max-width: 330px;
    height: 430px;
    border: 1px solid transparent;
    background-color: #7f7f7f4f;
    border-radius: 10px;
    backdrop-filter: blur(16px);

    overflow: hidden;
  }

  .info {
    background-color: rgba(#111, 0.8);
    height: 100%;

    .titulo {
      h2 {
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        top: 0;
        right: 11px;

        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 700;

        outline: 0 !important;
        text-decoration: none;
        text-transform: uppercase;

        > div {
          position: absolute !important;
          z-index: -1 !important;
          max-height: initial !important;
          max-width: initial !important;
          top: 6px !important;
          left: initial !important;
          right: -92px !important;
          width: 100px !important;
          height: 100px !important;
          animation: rotate 4s linear infinite;
          filter: hue-rotate(303deg);
        }
      }
    }
  }

  .info {
    .titulo {
      h2 {
      }
    }

    a {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 14px;
      font-weight: 700;

      outline: 0 !important;
      text-decoration: none;
      text-transform: uppercase;
      width: 100%;

      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }

    button.connet,
    .btnComprar {
      display: block;

      padding: 10px 20px;
      border: 1px solid #fff;

      width: 190px;
      border-radius: 8px;

      &:hover {
        background-color: #111;
        cursor: pointer;
      }
    }

    .contratoAddress {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;

      font-weight: 600;
      letter-spacing: normal;

      text-transform: none;
      width: 100%;
      background-color: #fff;
      height: 40px;

      /*  box-shadow: 0px -20px 20px 0px #fff;

      animation: colorChange 4s infinite; */

      a {
        height: 34px;
        color: #111;
        border: 1px solid #fff;
      }
    }
  }

  .ventaFinalizada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 30%;
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: #ff7575;
    }

    p {
      position: absolute;
      bottom: 20px;
      line-height: 30px;
    }

    a {
      display: block;
      text-align: center;
    }
  }

  .gasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      background-color: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      font-weight: 700;

      outline: 0 !important;
      text-decoration: none;
      text-transform: uppercase;
    }
    .title {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 60px;
    }
    .connetContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      bottom: 20px;
      line-height: 30px;

      p {
        height: 34px;
      }
    }
  }

  .compraContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 18px;

    .feedback {
      height: 24px;
    }
    .containerMasoMenos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 35px;
      margin: 10px;

      button {
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        border-radius: 6px;

        cursor: pointer;

        &:hover {
          background-color: #4e00c2;
        }
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 24px;
        font-weight: 700;
        outline: 0 !important;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  .containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      filter: saturate(1.3);
     
    }
  }
}

/* .cardContainer {


  .info {
  }
} */

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0%,
  100% {
    box-shadow: 0px -20px 20px 10px rgba(#cfdc17, 0.3);
  }
  43% {
    box-shadow: 0px -20px 20px 10px rgba(#0044ff, 0.3);
  }
  86% {
    box-shadow: 0px -20px 20px 10px rgba(#ff0000, 0.3);
  }
}
